/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Space Grotesk', sans-serif;

  /*--fs-base: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;*/

  --fs-16-18: clamp(1rem, 0.9552rem + 0.1887vi, 1.125rem);
  --fs-19-22: clamp(1.2rem, 1.1261rem + 0.3113vi, 1.4063rem);
  --fs-23-28: clamp(1.44rem, 1.3261rem + 0.4797vi, 1.7578rem);
  --fs-27-35: clamp(1.728rem, 1.5598rem + 0.7083vi, 2.1973rem);
  --fs-33-43: clamp(2.0736rem, 1.8323rem + 1.0158vi, 2.7466rem);
  --fs-39-54: clamp(2.4883rem, 2.1496rem + 1.4263vi, 3.4332rem);
  --fs-47-68: clamp(2.986rem, 2.518rem + 1.9706vi, 4.2915rem);
  --fs-57-85: clamp(3.5832rem, 2.9446rem + 2.6887vi, 5.3644rem);
  --fs-68-105: clamp(4.2998rem, 3.4374rem + 3.6313vi, 6.7055rem);

  --fw-reg: 500;
  --fw-bold: 700;

  --clr-accent-400: hsl(153, 71%, 59%);
  --clr-accent-600: hsl(7, 100%, 68%);

  --clr-neutral-light-100: hsl(0, 0%, 100%);
  --clr-neutral-light-300: hsl(0, 0%, 85%);

  --clr-neutral-dark-400: hsl(0, 0%, 14%);
  --clr-neutral-dark-800: hsl(0, 0%, 8%);

  --transition: 350ms ease-in-out;
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}*/

body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/* BODY & GLOBAL STYLES */

body {
  font-size: var(--fs-16-18);
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-dark-800);
  color: var(--clr-neutral-light-100);
}

h1,
h2,
h3 {
  line-height: 1;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  max-width: 69.375rem;
  width: calc(100% - 2rem);
  margin-inline: auto;
}

/* UTILITY */

a.underline {
  display: inline-block;
  padding-bottom: 0.625rem;
  line-height: 1.6;
  background-image: linear-gradient(
    to right,
    var(--clr-accent-400) 75%,
    var(--clr-accent-400) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 0.25rem;
}

/* HEADER & NAV */

.primary__header {
  position: relative;
  margin-block-start: 1.25rem;
  z-index: 1;
}

.primary__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1.25rem 1.5625rem;
}

.header__home {
  font-size: var(--fs-23-28);
  line-height: 1;
  color: var(--clr-neutral-light-100);
  margin-top: 0.5em;
  flex: 1 0 100%;
}

.primary__header--social {
  transition: fill var(--transition);
}

.primary__header--social:hover > svg > path,
.primary__header--social:focus > svg > path {
  fill: var(--clr-accent-400);
}

/* HERO */

.hero__wrapper {
  padding-bottom: 5rem;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 10.9375rem;
  height: auto;
}

.hero--rings {
  position: absolute;
  right: 50%;
  top: 130px;
  z-index: -1;
  height: auto;
}

.hero--circle {
  position: relative;
  top: 10.625rem;
  margin-bottom: -8.0625rem;
  translate: calc(100vw - 4rem - 1rem);
}

.hero__text {
  position: relative;
  text-align: center;
  margin-block-start: 20.9375rem;
}

.hero__title {
  font-size: var(--fs-33-43);
  margin-block-start: 1.5rem;
}

.hero__title > br {
  display: none;
}

h1 > span {
  background-image: linear-gradient(
    to right,
    var(--clr-accent-400) 75%,
    var(--clr-accent-400) 75%
  );
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 0.5rem 0.25rem;
}

.hero__description {
  padding-top: 2em;
  margin-block-end: 1.5rem;
}

.hero__contact {
  font-size: var(--fs-16-18);
  color: var(--clr-neutral-light-100);
  text-transform: uppercase;
  letter-spacing: 2.3px;
  margin-bottom: 5em;
}

.hero__contact:hover,
.hero__contact:focus {
  color: var(--clr-accent-400);
  transition: all var(--transition);
}
